<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="./../../static/css/styles.css"/>
    <title>Reference</title>
  </head>
  <body>
    <%- include('../../nav/nav.ejs') %>
    <h1>admin Dashboard</h1>
    <%- include('../../messages/errors.ejs') %>
    <form action="/adminDashbaord" method="POST">
      <div id="teacher">
        <input type="email" name="tAdd" id="tAdd" />
        <input type="email" name="tDelete" id="tDelete" />
      </div>
      <br />
      <div id="user">
        <input type="email" name="uAdd" id="uAdd" />
        <input type="email" name="uDelete" id="uDelete" />
      </div>
      <button type="submit">submit</button>
    </form>
    <%- include('../../footer/footer.ejs') %>
  </body>
</html>
