<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="./../../static/css/styles.css"/>
    <title>Reference</title>
  </head>
  <body>
    <!-- <div id="SideNav" class="h-full fixed z-1 top-0 left-0 bg-gray-800 text-white overflow-x-hidden" style="transition: 0.5s; width: 300px; margin-left: -300px;">
      <a id="closeSideNav" href="javascript:void(0)" class="text-6xl absolute top-0 right-0 pr-5">&times;</a>
      <a href="/"><img src="{% static '/images/logo.svg' %}" alt="Equipstat"></a>
      <a href="{% url 'store' %}" class="text-center p-2 block text-2xl border-b-2 border-t-2 border-black">Store</a>
      <a href="{% url 'refurbished' %}" class="text-center p-2 block text-2xl border-b-2 border-black">Refurbished</a>
      {% if user.is_authenticated %}
      <a href="{% url 'enlist' %}" class="text-center p-2 block text-2xl border-b-2 border-black">Enlist</a>
      {% endif %}
      <a href="{% url 'contact' %}" class="text-center p-2 block text-2xl border-b-2 border-black">Contact</a>
      <a href="{% url 'about' %}" class="text-center p-2 block text-2xl border-b-2 border-black">About&nbsp;us</a>
    </div> -->
    <!-- class="text-center p-2 block text-2xl border-b-2 border-t-2 border-black" -->
    <%- include('../../nav/nav.ejs') %>
    <%- include('../../messages/errors.ejs') %>
    <div class="h-full fixed z-1 top-0 left-0 bg-gray-800 text-white overflow-x-hidden justify-items-center" style="width: 300px;">
      <div class="text-center text-4xl font-semibold mt-10">
        <a class="" href="/">Reference</a>
      </div>
      <div class="mt-6 text-center space-y-2">
        <h3 id="student" class="logsign cursor-pointer text-2xl p-2">Students</h3>
        <h3 id="teacher" class="logsign cursor-pointer text-2xl p-2">Teachers</h3>
      </div>
    </div>
    <div class="grid grid-cols-12 items-center">
      <div class="card col-start-5 col-end-9">
        <form action="/adminDashbaord" method="POST">
          <h1>Teacher</h1>
          <div id="teacher">
            <input type="email" name="tAdd" id="tAdd" />
            <input type="email" name="tDelete" id="tDelete" />
          </div>
          <input type="submit" value="Perform Changes" class="logsign bg-gray-500 p-2 rounded text-xl text-white cursor-pointer"></input> 
        </form>
      </div>
    </div>
    <!-- <%- include('../../footer/footer.ejs') %> -->
    <script src="../../../clientJS/delAdd.js"></script>
  </body>
</html>
