<% if(typeof errors != 'undefined') { %> <% errors.forEach(function (error) { %>
<div class="alert show rounded opacity-80 text-center flex flex-row justify-between place-items-center">
  <div><%= error.msg %></div>
  <div class="closebtn" onclick="this.parentElement.style.display='none';">&times;</div>
</div>
<% }); %> <% } %>
