<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="./../../../clientJS/class.js"></script>
  </head>
  <body onload="getData()">
    <div id="heading"></div>
    <form action="/class" method="POST" enctype="multipart/form-data">
      <input type="file" name="post" id="post" />
      <input type="text" name="postDetail" id="postDetail" />
      <input type="text" name="email" id="email" style="display: none" />
      <input
        type="text"
        name="className"
        id="className"
        style="display: none"
      />
      <button type="submit">Add</button>
    </form>
  </body>
</html>
