<div class="text-center col-span-full row-start-1">
    <nav class="grid grid-cols-8 items-center justify-items-center py-7 px-7">
      <div class="col-start-1 reference text-4xl font-semibold">
        <a class="" href="/">Reference</a>
      </div>
      <% if(typeof userStatus == 'undefined') { %>
      <div class="space-x-2 col-start-7 col-end-10 grid grid-cols-2">
        <a href="/login" class="logsign m-3 col-start-1 p-2 border rounded border-log-0 hover:bg-logsign-0 hover">
          <h4 class="text-xl">Login</h4>
        </a>
        <a href="/register" class="logsign m-3 col-start-2 bg-gray-500 p-2 rounded">
          <h4 class="text-xl text-white">Sign Up</h4>
        </a>
      </div>
      <% } else if(userStatus == 'admin') { %>
        <div class="space-x-2 col-start-7 col-end-10 grid grid-cols-2">
            <a href="/" class="logsign m-3 col-start-2 p-2 border rounded border-log-0 hover:bg-logsign-0 hover">
                <h4 class="text-xl">Logout</h4>
            </a>
        </div>
        <% } else if(userStatus == 'user'){ %>
          <div class="space-x-2 col-start-7 col-end-10 grid grid-cols-2">
            <a href="/" class="logsign m-3 col-start-2 p-2 border rounded border-log-0 hover:bg-logsign-0 hover">
                <h4 class="text-xl">Logout</h4>
            </a>
          </div>
        <% } else if(userStatus == 'teacher'){ %> 
          <div class="space-x-2 col-start-7 col-end-10 grid grid-cols-2">
            <a href="/" class="logsign m-3 col-start-2 p-2 border rounded border-log-0 hover:bg-logsign-0 hover">
                <h4 class="text-xl">Logout</h4>
            </a>
          </div> 
        <% } %>         
    </nav> <hr>
</div>