<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Inside register</h1>
    <%- include('../messages/errors.ejs') %>
    <form action="/register" method="POST">
      <input type="text" name="name" id="name" />
      <input type="email" name="email" id="email" />
      <input type="password" name="password" id="password" />
      <input type="password" name="cpassword" id="cpassword" />
      <button type="submit">submit</button>
    </form>
  </body>
</html>
