<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="../../../static/imgs/ref.png">
    <link
      type="text/css"
      rel="stylesheet"
      href="./../../static/css/styles.css"
    />
    <title>Reference</title>
    <script src="./../../clientJS//login.js"></script>
  </head>
  <body class="font-body grid grid-rows-3 grid-cols-12" onload="resetData()">
    <%- include('../nav/nav.ejs') %>
    <div class="grid grid-cols-2 row-start-2 row-end-4 col-span-full">
      <div class="col-start-1 px-7">
        <h2 class="text-5xl text-heading-0 font-semibold">
          Did you miss your recent session?
        </h2>
        <p class="text-heading-1 text-3xl mt-2">
          We understand that attending online sessions bring a ton of problems
          with it like Power Cut, Battery dead, etc.
        </p>
        <p class="text-4xl text-heading-0 font-medium mt-7">
          We have your back!
        </p>
      </div>
      <div class="col-start-2">
        <img src="./../../static/imgs/home.svg" alt="home-illustration" />
      </div>
    </div>
    <%- include('../footer/footer.ejs') %> <%- include('../messages/errors.ejs')
    %>
  </body>
</html>
