<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="../../../static/imgs/ref.png"/>
    <link type="text/css" rel="stylesheet" href="./../../../static/css/styles.css"/>
    <title>Reference</title>
  </head>
  <body onload="getData()">
    <%- include('../../messages/errors.ejs') %>
    <%- include('../../nav/nav.ejs') %>
    <div class="grid grid-cols-12" id="heading">
      
    </div>
    <div class="grid grid-cols-12 gap-5 mt-5" id="allLinks">

    </div>
    <%- include('../../footer/footer.ejs') %>
    <script src="./../../../clientJS/userClass.js"></script>
  </body>
</html>
