@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.card{
    @apply rounded-lg;
    @apply shadow-xl;
    @apply bg-white;
    background-color: #D9D9D9;
}

.reference{
    color: #353535;
}

.logsign{
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.24);
    transition: 0.2s all;
}

.logsign:active{
    transform: scale(0.98);
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.24);
}